.sec1, .sec2, .sec3 {
    display: flex;
    justify-content: center; 
    gap: 30px;
}
.sec1{
    background-color: red;
}
.sec2{
    background-color: rgb(121, 77, 106) ;
}
.sec3{
    background-color: rgb(122, 107, 18) ;
}

img{
    width: 200px;
    height: 300px;
}
footer {
    display: flex;
    justify-content: space-around;
    background-color: bisque;
}

footer>div>h6, p {
    margin: 0px;
}

.container-fluid{
    background-color: rgb(34, 64, 182);
}


    
